-f https://download.pytorch.org/whl/nightly/cpu/torch_nightly.html
torch_nightly==1.2.0.dev20190805+cpu
fastai==1.0.59
starlette==0.13.0
uvicorn==0.11.7
python-multipart==0.0.5
aiofiles==0.4.0
aiohttp==3.6.2